@model Therefore.Web.Models.GameBoard

@{
    ViewBag.Title = "Play";
}

@section intellisense
{
    <script src="../../Scripts/jquery-1.4.4-vsdoc.js" type="text/javascript"></script>
}

<h2>Play</h2>

@using (Html.BeginForm("Play", "Game", FormMethod.Post, new { autocomplete = "off" }))
{
  <table>
    @for (int i = 0; i < Model.Premises.Count; i++)
    {
    <tr><td>@Html.TextBoxFor(m => m.Premises[i]) @Html.ValidationMessageFor(m => m.Premises[i])</td></tr>
    }
  </table>
  <button type="submit">Check</button>

  if (Model.Results == null)
  {
  <div class="error-text">Paradox or Syntax Error</div>
  }
  else
  {
  <dl>
    @foreach (var result in Model.Results)
    {
      <dt>@result.Key</dt>
      <dd>@(result.Value == null ? "(unknown)" : (result.Value.Value ? "Exists" : "Doesn't Exist"))</dd>
    }
  </dl>
  }
}

@if (ViewBag.DebugInfo != null)
{
<div id="debug-container">
    <a href="#" id="toggle-debug">debug info</a>
    <dl id="debug-info" style="display : none;">
      @foreach (var entry in ViewBag.DebugInfo)
      {
      <dt>@entry.Key</dt>
      <dd>@entry.Value</dd>
      }
    </dl>
</div>

<script>
    $(function () {
        $("#toggle-debug").click(function () {
            $("#debug-info").toggle();
        });
    });
</script>
}
